* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* contenido del header */
.logo {
    width: 120px;
    height: 120px;
}

.navbar {
    background-color: #FF8E00;
    justify-content: space-between;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
    gap: 4rem;
    padding-top: 10px;
}

.navbar-menu-item {
    text-decoration: none;
    font-size: 23px;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

.navbar-menu-item:hover {
    color: white;
}

.titulo {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    background-color: #FF8E00;
}

/* fin del header */

/* comienzo de productos destacados */
.productos-destacados {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    text-decoration: none;
}

.productos-destacados div a {
    text-decoration: none;
}

.img-producto-destacado {
    width: 250px;
    height: 250px;
    justify-content: space-around;
    background-color: rgb(216, 216, 216);
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgb(169, 169, 169);
}

.img-producto-destacado:hover {
    background-color: #f4a856;
    border: solid white 4px;
}

/* fin de productos destacados */

/* comienzo de pagina index */
.banner-img {
    height: 500px;
    width: 100%;
    box-shadow: 10px 10px 15px rgb(169, 169, 169);
}

.all-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    gap: 40px;
}

.texto-producto {
    text-decoration: none;
}

.img-producto {
    width: 250px;
    height: 250px;
    justify-content: space-between;
    background-color: rgb(216, 216, 216);
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgb(169, 169, 169);
    opacity: 0.9;
}

.img-producto:hover {
    background-color: #f4a856;
    border: solid white 4px;
    opacity: 1;
}

/* fin de pagina index */

/* comienzo de pagina "nosotros" */
.img-nosotros {
    height: 400px;
    width: 600px;
    box-shadow: 10px 10px 15px rgb(169, 169, 169);
    border-radius: 20px;
}

.img-nosotros:hover {
    opacity: 0.7;
}

.titulo-nosotros {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.texto {
    width: 80%;
    background: rgb(232, 232, 232);
    border: solid 5px #FF8E00;
    border-radius: 20px;
}

.parrafo-nosotros {
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    width: 60%;
}

.valores {
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
    list-style-type: none;
    padding-right: 35px;
}

/* fin de pagina nosotros */

/* pagina de contacto */
.formulario {
    text-align: center;
    font-size: 20px;
    font-family: 'roboto, sans-serif';
    background: rgb(232, 232, 232);
    border: solid 5px #FF8E00;
}

.texto-formulario {
    text-align: center;
    font-family: 'ubuntu, sans-serif';
}

.parrafo-formulario {
    text-align: center;
    font-family: 'roboto, sans-serif';
    font-size: 20px;
}

/* fin de pagina de contacto */

/* pagina de accesorios */
.subtitulo {
    text-align: center;
}

.carousel-item{
height: 600px;
padding-bottom: 20px;
}
/* fin de pagina accesorios */

/* pagina de categorias */
.productos-categorias {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    gap: 40px;
}

/* solo footer con las redes */
.footer-container {
    background-color: #d3d3d3;
    background-image: linear-gradient(315deg, #d3d3d3 0%, #7f8c8d 74%);
    padding-top: 20px;
    padding-bottom: 20px;
}

.pie {
    font-size: 25px;
    text-decoration: none;
    justify-content: space-around;
    padding-bottom: 30px;
}

.redes {
    width: 40px;
    height: 40px;
}

.creditos {
    font-size: 15px;
    text-align: center;
}

@media screen and (max-width: 768px) {

    .navbar {
        background-color: #FF8E00;
        border: solid 5px black;
    }

    .navbar-menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }

    .navbar-menu-item {
        font-size: 1rem;
    }

    .productos-destacados {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .banner-img {
        display: none;
    }

    .all-products {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .productos-categorias{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .banner-nosotros{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }

.img-nosotros{
    width: 100%;
}

}

@media screen and (max-width: 600px) {
    .all-products {
        display: flex;
        flex-direction: column;
    }
}