



@media screen and (max-width: 768px) {

    .navbar {
        background-color: #FF8E00;
        border: solid 5px black;
    }

    .navbar-menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }

    .navbar-menu-item {
        font-size: 1rem;
    }

    .productos-destacados {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .banner-img {
        display: none;
    }

    .all-products {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .productos-categorias {
        display: grid;
        grid-template-columns: 1fr;
    }

    .banner-nosotros {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }

    .img-nosotros {
        width: 100%;
    }

    .buscador {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

}

@media screen and (max-width: 600px) {
    .all-products {
        display: flex;
        flex-direction: column;
    }
}