/*abstracts */
.productos-destacados .img-producto-destacado, .img-producto {
  width: 250px;
  height: 250px;
  background-color: #d8d8d8;
  border-radius: 30px;
  box-shadow: 10px 10px 15px #a9a9a9;
  opacity: 0.9; }

.productos-destacados .img-producto-destacado:hover, .img-producto:hover {
  border: white solid 3px;
  background-color: #f4a856;
  opacity: 1; }

.titulo {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #FF8E00; }

/* bases */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* layout */
header .logo {
  width: 130px;
  height: 130px; }

header .navbar {
  background-color: #FF8E00;
  justify-content: space-between; }

.navbar-menu {
  display: flex;
  list-style-type: none;
  gap: 4rem;
  padding-top: 10px; }

.navbar-menu-item {
  text-decoration: none;
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
  color: black; }
  .navbar-menu-item:hover {
    color: white; }

.footer-container {
  background-color: #191919;
  padding-top: 10px;
  padding-bottom: 10px; }
  .footer-container .pie {
    justify-content: space-around;
    font-size: 25px;
    color: #ffffff; }
    .footer-container .pie .texto-footer {
      text-decoration: none;
      color: #d3d3d3; }
      .footer-container .pie .texto-footer:hover {
        color: #f4a856; }
      .footer-container .pie .texto-footer .redes {
        width: 40px;
        height: 40px;
        margin-right: 8px; }

.creditos {
  font-size: 20px;
  text-align: center;
  color: #d3d3d3;
  margin-top: 40px; }

/* pages */
.img-nosotros {
  height: 400px;
  width: 600px;
  box-shadow: 10px 10px 15px #a9a9a9;
  border-radius: 20px; }
  .img-nosotros:hover {
    opacity: 0.7; }

.texto {
  width: 80vw;
  background: #e8e8e8;
  border: solid 5px #FF8E00;
  border-radius: 20px; }
  .texto .titulo-nosotros {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center; }
  .texto .parrafo-nosotros {
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    width: 70%; }
  .texto .valores {
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
    list-style-type: none;
    padding-right: 35px; }

.form-contact {
  color: white; }

.content {
  width: 80vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 3em; }
  .content .logo1 {
    width: 130px;
    height: 130px; }

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  display: grid;
  grid-template-columns: 2fr 1fr; }

.contact-wrapper > * {
  padding: 4em; }

.contact-form {
  background-color: #222222;
  font-family: 'roboto', sans-serif; }

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.contact-form form .block {
  grid-column: 1 / 3; }

.contact-form form p {
  margin: 0;
  padding: 1em; }

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #FF8E00;
  color: #fff; }

.contact-form form button {
  background: #FF8E00;
  text-transform: uppercase;
  padding: 1em; }

.contact-form form button:hover,
.contact-form form button:focus {
  background: #f4a856;
  color: #000;
  outline: none;
  transition: background-color 1s ease-out; }

.contact-info {
  background-color: #000;
  text-align: center; }

.contact-info ul {
  list-style-type: none; }

/* selectores generales */
.productos-destacados {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  .productos-destacados div a {
    text-decoration: none; }

.titulo {
  font-size: 25px; }

.all-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
  gap: 40px; }

.productos-categorias {
  text-align: center;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  display: grid; }

.texto-producto {
  text-decoration: none; }

.subtitulo {
  text-align: center; }

/* fin de selectores generales */
/* medias queries */
@media screen and (max-width: 1200px) {
  .navbar {
    display: block; }
  .navbar-menu {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .form-control {
    display: none; }
  .buscar-buttom {
    display: none; }
  .productos-destacados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem; }
  .all-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .productos-categorias {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .banner-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px; }
  .texto {
    width: 100vw; }
  .contact-wrapper {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 768px) {
  .productos-destacados {
    display: flex;
    flex-direction: column; }
  .all-products {
    display: flex;
    flex-direction: column; }
  .productos-categorias {
    display: flex;
    flex-direction: column; }
  .navbar-menu-item {
    font-size: 15px; }
  .navbar-menu {
    gap: 1rem; }
  .titulo .h2 {
    font-size: 5px; }
  .banner-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px; }
  .img-nosotros {
    width: 70vw;
    height: 50vw; }
  .pie {
    display: flex;
    justify-content: space-around; }
  .texto-footer {
    justify-content: center;
    font-size: 15px; }
  .contact-wrapper {
    grid-template-columns: 1fr; }
  .content {
    padding: 0;
    width: 100%; } }
