$bg-titulos: #FF8E00;
$text: 25px;
$logoh:120px;
$logow:120px;

header {
    .logo {
        width: $logow;
        height: $logoh;
    }

    .navbar {
        background-color: $bg-titulos;
        justify-content: space-between;

        .navbar-menu {
            display: flex;
            list-style-type: none;
            gap: 4rem;
            padding-top: 10px;

            .navbar-menu-item {
                text-decoration: none;
                font-size: $text;
                color: black;
                font-family: 'Ubuntu', sans-serif;

                :hover {
                    color: white;
                }
            }
        }
    }
}
