/*abstracts */
@import "../scss/abstracts/variables";
@import "../scss/abstracts/mixins";
@import "../scss/abstracts/extend";
/* bases */
@import "../scss/bases/reset";
@import "../scss/bases/querys";
/* layout */
@import "../scss/layout/header";
@import "../scss/layout/footer";
/* pages */
@import "../scss/pages/nosotros";

.titulo {
    @extend %titulos;
}

.all-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    gap: 40px;
}

.carousel-item {
    background-size: cover;
}


.productos-categorias {
@include productos-position();
    gap: 40px;
    grid-template-rows: repeat(2, 1fr);
}

.productos-destacados {
@include productos-position();
    div a {
        text-decoration: none;
    }

    .img-producto-destacado {
        @extend %cards;

        &:hover {
            @extend %borde-bg;
        }
    }
}

.banner-img {
    height: 500px;
    width: 100%;
    box-shadow: $shadow;
}

.texto-producto {
    text-decoration: none;
}

.img-producto {
    @extend %cards;

    &:hover {
        @extend %borde-bg;
    }
}

.subtitulo {
    text-align: center;
}



.formulario {
    text-align: center;
    font-size: $text-second;
    font-family: 'roboto, sans-serif';
    background: rgb(232, 232, 232);
    border: solid 5px $bg-titulos;
}

.texto-formulario {
    text-align: center;
    font-family: 'ubuntu, sans-serif';
}

.parrafo-formulario {
    text-align: center;
    font-family: 'roboto, sans-serif';
    font-size: $text-second;
}
