/*abstracts */
@import "../scss/abstracts/variables";
@import "../scss/abstracts/mixins";
@import "../scss/abstracts/extend";
/* bases */
@import "../scss/bases/reset";
/* layout */
@import "../scss/layout/header";
@import "../scss/layout/footer";
/* pages */
@import "../scss/pages/nosotros";
@import "../scss/pages/contacto";


/* selectores generales */
.productos-destacados {
    display: flex;
    justify-content: space-around;
}

.card {
    @extend %cards;
    &:hover {
        border: white solid 3px;
    }
}

.card-img-top {
    height: 300px;
    width: 300px;
    opacity: 0.9;
    &:hover {
        opacity: 1;
    }
}

.card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    color: black;
}

.card-text {
    font-family: 'roboto', sans-serif;
    font-size: 1.5rem;
}

.boton {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.titulo {
    @extend %titulos;
}

.titulo-principal{
    @extend %titulos;
    margin-top: -6px;
}

.all-products {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
    justify-items: center;
}

.productos-categorias {
    text-align: center;
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
}

.subtitulo {
    text-align: center;
}

/* fin de selectores generales */

/* medias queries */
@media screen and (max-width: 1200px) {
    .productos-destacados {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    .all-products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .productos-categorias {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .banner-nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 30px;
    }

    .texto {
        width: 100vw;
    }

    .contact-wrapper {
        grid-template-columns: 1fr;
    }
}


@media screen and (max-width: 768px) {

    .productos-destacados {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .all-products {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .productos-categorias {
        display: flex;
        flex-direction: column;
    }

    .navbar-menu-item {
        font-size: 15px;
    }

    .navbar-menu {
        gap: 1rem;
    }

    .titulo .h2 {
        font-size: 5px;
    }

    .banner-nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 30px;
    }

    .img-nosotros {
        width: 70vw;
        height: 50vw;
    }

    .pie {
        display: flex;
        justify-content: space-around;
    }

    .texto-footer {
        justify-content: center;
        font-size: 15px;
    }

    .contact-wrapper {
        grid-template-columns: 1fr;
    }

    .content {
        padding: 0;
        width: 100%;
    }
}